/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
body {
	background-color: #f8f8f8;
}

#wrapper {
	width: 100%;
}
/*
#page-wrapper {
	padding: 0 15px;
	min-height: 568px;
	background-color: #fff;
}

@media ( min-width :768px) {
	#page-wrapper {
		position: inherit;
		margin: 0 0 0 250px;
		padding: 0 30px;
		border-left: 1px solid #e7e7e7;
	}
}*/

.container{
	width: 100%;
}

.userinfo {
	//padding-top: 10px;
	text-align: center;
}

.userinfo .flashes {
	background-color: #FFFFFF;
	border: 1px solid #2DAA9B;
	border-radius: 4px;
	list-style: none outside none;
	margin: 10px auto;
	padding: 10px 0;
	width: 450px;
}

div.form span.required {
	color: #FF0000;
}

.navbar-top-links li {
	display: inline-block;
}

.navbar-brand>img {
	height: 40px;
	width: 180px;
}
.navbar-brand {
	padding : 8px !important;
}
.navbar-top-links li:last-child {
	margin-right: 15px;
}

.navbar-top-links li a {
	padding: 15px;
	/*  min-height: 50px; */
}

.navbar-top-links .dropdown-menu li {
	display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}

.progress.progress-striped .bar {
	background-color: #2FDAB8;
	height: 20px;
}

.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}

.navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks,.navbar-top-links .dropdown-alerts
	{
	width: 310px;
	min-width: 0;
}

.navbar-top-links .dropdown-messages {
	margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
	margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
	margin-left: -123px;
}

.navbar-top-links .dropdown-user {
	right: 0;
	left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}

.sidebar .sidebar-search {
	padding: 15px;
}

.sidebar ul li {
	border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
	background-color: #eee;
}

.sidebar .arrow {
	float: right;
}

.sidebar .fa.arrow:before {
	content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
	content: "\f107";
}

.sidebar .nav-second-level li,.sidebar .nav-third-level li {
	border-bottom: 0 !important;
}

.sidebar .nav-second-level li a {
	padding-left: 37px;
}

.sidebar .nav-third-level li a {
	padding-left: 52px;
}

@media ( min-width :768px) {
	.sidebar {
		z-index: 1;
		position: absolute;
		width: 250px;
		margin-top: 51px;
	}
	.navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks,.navbar-top-links .dropdown-alerts
		{
		margin-left: auto;
	}
}

/*.btn-outline {
	color: inherit;
	background-color: transparent;
	transition: all .5s;
}

.btn-primary.btn-outline {
	color: #428bca;
}

.btn-success.btn-outline {
	color: #5cb85c;
}

.btn-info.btn-outline {
	color: #5bc0de;
}

.btn-warning.btn-outline {
	color: #f0ad4e;
}

.btn-danger.btn-outline {
	color: #d9534f;
}

.btn-primary.btn-outline:hover,.btn-success.btn-outline:hover,.btn-info.btn-outline:hover,.btn-warning.btn-outline:hover,.btn-danger.btn-outline:hover
	{
	color: #fff;
}
.btn.start.start-container {
    display: none;
}*/
#products-form .table-striped > tbody > tr:nth-child(2n+1) > td, #products-form .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #FFFFFF;
}
.chat {
	margin: 0;
	padding: 0;
	list-style: none;
}

.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
	margin-left: 60px;
}

.chat li.right .chat-body {
	margin-right: 60px;
}

.chat li .chat-body p {
	margin: 0;
}

.panel .slidedown .glyphicon,.chat .glyphicon {
	margin-right: 5px;
}

.chat-panel .panel-body {
	height: 350px;
	overflow-y: scroll;
}

.login-panel {
	margin-top: 0;
}

.logo-image {
	margin-bottom: 21px;
	margin-top: 25%;
	text-align: center;
}

.flot-chart {
	display: block;
	height: 400px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}

table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled
	{
	background: 0 0;
}

table.dataTable thead .sorting_asc:after {
	content: "\f0de";
	float: right;
	font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
	content: "\f0dd";
	float: right;
	font-family: fontawesome;
}

table.dataTable thead .sorting:after {
	content: "\f0dc";
	float: right;
	font-family: fontawesome;
	color: rgba(50, 50, 50, .5);
}
.clear
{
	clear: both;
}

/*.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.428571429;
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	border-radius: 25px;
	font-size: 18px;
	line-height: 1.33;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 1.33;
}*/

.show-grid [class^=col-] {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #ddd;
	background-color: #eee !important;
}

.show-grid {
	margin: 15px 0;
}

.huge {
	font-size: 40px;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green .panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.panel-green a {
	color: #5cb85c;
}

.panel-green a:hover {
	color: #3d8b3d;
}

.panel-red {
	border-color: #d9534f;
}

.panel-red .panel-heading {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}

.panel-red a {
	color: #d9534f;
}

.panel-red a:hover {
	color: #b52b27;
}

.panel-yellow {
	border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}

.panel-yellow a {
	color: #f0ad4e;
}

.panel-yellow a:hover {
	color: #df8a13;
}

.errorMessage {
	color: red;
}

.grid-view .pager {
	padding-left: 0;
	margin: 20px 0;
	text-align: center;
	list-style: none;
}

input[type=file] {
	margin: 10px 0;
}
/***************option popup*****************************/
#popup_container {
	background: none repeat scroll 0 0 rgba(238, 238, 238, 0.898);
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: scroll;
	padding: 0 24px 24px 0;
	position: fixed;
	top: 0;
	transition: opacity 0.2s ease 0s;
	width: 100%;
	z-index: 1500;
}

.popup {
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	background: none repeat scroll 0 0 #FFFFFF;
}

#popup_container #choose-option-popup,#show-exchange-popup {
	margin: 80px auto 0;
	width: 520px;
	padding: 20px;
}

#show-exchange-popup {
	overflow-y: scroll;
	height: 500px;
}

.ltit {
	display: inline-block;
	font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
	font-size: 28px;
	font-weight: normal;
}

.ly-close {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: right;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	vertical-align: top;
	border: none;
}

.choose-option-content,.show-exchange-content {
	background: none repeat scroll 0 0 #FFFFFF;
}

.cur_div {
	float: left;
	margin-right: 15px;
	padding: 0;
	text-align: center;
	width: 8%;
}

.cur_div:hover,.cur_div a :hover {
	background-color: #2FDAB8;
	border-radius: 4px;
	color: #fff;
	font-style: bold;
}

.cur_div a {
	cursor: pointer;
	font-style: bold;
	color: #000000;
	text-decoration: none;
}

.dropdown-menu a {
	cursor: pointer;
}

.small-input input {
	width: 100%;
}

.small-input {
	width: 100px;
}
.medium-input input {
	width: 100%;
}

.medium-input {
	width: 210px;
	word-break:break-all;
}

.mid-input {
	width: 160px;
}
.mid-input input {
	width: 100%;
}

.template-download .preview a img {
	width: 80px;
}

.sidebar .sidebar-nav .nav li ul.nav-second-level {
	display: none;
}

.sidebar .sidebar-nav .nav li ul.nav-second-level.in {
	display: block;
}

/***************************Flip switch css*******************************/
.onoffswitch {
	position: relative;
	width: 52px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #2DAA98;
	border-radius: 17px;
}

.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s;
	-webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,.onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 19px;
	padding: 0;
	line-height: 23px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "";
	padding-left: 10px;
	background-color: #FFFFFF;
	color: #FFFFFF;
}

.onoffswitch-inner:after {
	content: "";
	padding-right: 10px;
	background-color: #FFFFFF;
	color: #999999;
	text-align: right;
}

.onoffswitch-switch {
	display: block;
	width: 12px;
	margin: 5.5px;
	background: #FFFFFF;
	border: 2px solid #2DAA98;
	border-radius: 17px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 28px;
	-moz-transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 2px;
	background-color: #2FDAB8;
}

/********************************Add Product**************************/
.sold-btn {
    background-color: #2bb9c2;
    border-radius: 5px;
    float: left;
	margin-right: 10px;
    height: 40px;
    padding: 10px 25px;
    text-align: center;
	margin-top:15px;
	text-decoration: none;
    color:#fff;
}
.sold-btn:hover {
    color:#fff;
	text-decoration: none;
}
.sale-btn {
    background-color: #2bc248;
    border-radius: 5px;
    float: left;
    height: 40px;
    padding: 10px 25px;
    text-align: center;
	margin-top:15px;
}
.sale-btn:hover {
   color:#fff;
}
.dynamicProperty, .dynamicProperty div {
    margin-bottom: 10px;
    padding: 0;
}
.dynamicProperty .switch-box label {
	padding: 0;
}
.switch{		
	margin-top:5px;		
}		
input.cmn-toggle-round-1 + label {		
	background-color: #dddddd;		
    border-radius: 60px;		
    height: 30px;		
    padding: 2px;		
    width: 60px;		
}		
input.cmn-toggle-round-1 + label:before,		
input.cmn-toggle-round-1 + label:after {		
  display: block;		
  position: absolute;		
  top: 1px;		
  left: 1px;		
  bottom: 1px;		
  content: "";		
}		
input.cmn-toggle-round-1 + label:before {		
  right: 1px;		
  background-color: #d0dbe5;		
  border-radius: 60px;		
  transition: background 0.4s;		
}		
input.cmn-toggle-round-1 + label:after {		
    background-color: #fff;		
	margin-left: 5px;		
    border-radius: 100%;		
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);		
    height: 20px;		
    margin-top: 4px;		
    transition: margin 0.4s ease 0s;		
    width: 20px;		
}		
input.cmn-toggle-round-1:checked + label:before {		
  background-color: #2bc248;		
}		
input.cmn-toggle-round-1:checked + label:after {		
  margin-left: 33px;		
}		
.cmn-toggle-1 {		
  position: absolute;		
  margin-left: -9999px;		
  visibility: hidden;		
}		
.cmn-toggle-1 + label {		
  display: block;		
  position: relative;		
  cursor: pointer;		
  outline: none;		
  user-select: none;		
}		
input.cmn-toggle-round + label {		
	background-color: #dddddd;		
    border-radius: 60px;		
    height: 30px;		
    padding: 2px;		
    width: 60px;		
}		
input.cmn-toggle-round + label:before,		
input.cmn-toggle-round + label:after {		
  display: block;		
  position: absolute;		
  top: 1px;		
  left: 1px;		
  bottom: 1px;		
  content: "";		
}		
input.cmn-toggle-round + label:before {		
  right: 1px;		
  background-color: #d0dbe5;		
  border-radius: 60px;		
  transition: background 0.4s;		
}		
input.cmn-toggle-round + label:after {		
    background-color: #fff;		
	margin-left: 5px;		
    border-radius: 100%;		
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);		
    height: 20px;		
    margin-top: 4px;		
    transition: margin 0.4s ease 0s;		
    width: 20px;		
}		
input.cmn-toggle-round:checked + label:before {		
  background-color: #2bc248;		
}		
input.cmn-toggle-round:checked + label:after {		
  margin-left: 33px;		
}		
.cmn-toggle {		
  position: absolute;		
  margin-left: -9999px;		
  visibility: hidden;		
}		
.cmn-toggle + label {		
  display: block;		
  position: relative;		
  cursor: pointer;		
  outline: none;		
  user-select: none;		
}		
.soldout-head {
	color: #555555;
	font-size: 22px;
	float: left;
	width: 156px;
	line-height: 25px;
}
.stuff-img-1{		
	background:url("../images/stuff-img-1.jpg") no-repeat 0 0;		
	height:125px;		
	width:125px;		
	-webkit-background-size: cover;		
    -moz-background-size: cover;		
    -o-background-size: cover;		
    background-size: cover;		
    background-position: center;		
	border-radius: 5px;		
	border: 1px solid #e2e2e2;		
	float:left;		
	margin-right: 10px;		
	margin-bottom: 10px;		
	position: relative;
}		
.stuff-img-add-section{		
	height:125px;		
	width:125px;		
	border-radius: 5px;		
	border: 1px solid #d0dbe5;		
	float:left;		
	margin-right:20px;		
}		
.stuff-img-add{		
	height:25px;		
	width:25px;			
	margin: 49px auto 0;		
}		
.stuff-progress{		
	//padding-top:105px;			
}		
.stuff-progress-bar{		
	height:8px;		
	margin-left:5px;		
	margin-right:5px;		
	margin-bottom:0px !important;		
}		
.stuff-img-close{		
	background-color: #e8edf1 !important;
    border-top-right-radius: 2px;
    color: #8b9baa !important;
    font-size: 2rem;
    font-weight: normal !important;
    opacity: 5;
    padding-bottom: 2px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;		
			
}		
.stuff-img-upload{		
	padding-top:10px;			
			
}		
.upload-btn {		
    background-color: #2bc248;		
    border-radius: 5px;		
    float: left;		
    height: 40px;		
    padding: 10px 25px;		
    text-align: center;		
}		
.upload-btn:hover {		
    color: #fff;		
   		
}		
a.upload-btn:active, a.upload-btn:focus, a.upload-btn:visited {		
    color:#fff !important;		
}	
.preview {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}
.preview img {
    height: 100%;
    width: 100%;
}
.cancel {
    opacity: 0.86;
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 3;
}
.stuff-img .delete {
    position: absolute;
    right: 0;
    z-index: 3;
}
.onoffswitch.soldout-switch {
	float: left;
	height: 24px;
}

/*.btn-success {
	background-color: #2FDAB8 !important;
	border: none !important;
	color: #FFFFFF !important;
	font-weight: bold !important;
	margin-top: -2px;
}*/

.label-success {
	background-color: #2FDAB8 !important;
}
.empty {
    text-align: center;
}
.odd > td, .even > td {
    word-break: break-all;
}
.shipping-details ul {
	list-style: none outside none;
	padding: 0;
}

.shipping-details ul li {
	display: inline-block;
	vertical-align: middle;
	width: 320px;
}

.shipping-details ul li:nth-child(2n) {
	width: 180px;
}

.shipping-details-head>li {
	font-size: 14px;
	font-weight: bold;
}

.shipping-details ul li input {
	width: 80px;
	padding: 4px 6px;
}

table.detail-view {
	font-size: 16px;
}

.shipping-details ul li:nth-child(3n) {
	width: 60px;
}

.shipping-details ul li:nth-child(3n) p {
	color: #DF2525;
	margin: 0 auto;
	text-align: center;
	width: 20px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}

.fileupload-buttonbar {
	margin-left: 5px;
}

.navbar-right {
	float: right!important;
	display: inline-block !important;
}

.fileupload-buttonbar .btn.btn-success.fileinput-button {
	margin-top: 0;
	padding: 7px 10px;
}

/***********************Confirm popup**********************/
#confirm_popup_container {
	background: none repeat scroll 0 0 rgba(238, 238, 238, 0.898);
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: auto;
	padding: 0 24px 24px 0;
	position: fixed;
	top: 0;
	transition: opacity 0.2s ease 0s;
	width: 100%;
	z-index: 1500;
}

.popup {
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	background: none repeat scroll 0 0 #FFFFFF;
}

#confirm_popup_container #confirm-popup {
	margin: 80px auto 0;
	width: 380px;
	padding: 20px;
}

#confirm_popup_container #confirm-popup .ltit {
	font-size: 28px;
}

#confirm_popup_container .popup .btn-area {
    margin: 18px 0 6px;
    text-align: right;
}

.confirm-btn {
    display: inline-block;
}

#confirm-popup .confirm-message {
    font-size: 14px;
    margin-top: 8px;
}

#confirm-popup .btn-confirm-cancel.btn-done {
    font-size: 14px;
    padding: 4px 10px;
}

#confirm-popup .btn-confirm-ok.btn-done {
    font-size: 14px;
    min-width: 60px;
    padding: 4px 12px;
}

.modal-link {
    color: #428BCA;
    cursor: pointer;
}

#catImage img {
	margin-top: 12px;
}

.panel-body .summary {
	margin: 0 0 5px 0;
	text-align: right;
}

.panel-body i.fa.fa-times {
	color: #f26565;
}

.table-responsive .button-column {
    text-align: center;
}

.credentials-action {
    float: left;
    margin-bottom: 14px;
    width: 100%;
}
.option-error{
	color: red;
}
.language-select-box-heading
{
	display:none;
}
.navbar-top-links
{
	width:auto !important;
}
/*-- admin - promotion currency--*/
.currencypromotion .selectedpromotion{
	width:auto;
	float:left;
	margin: 7px 15px;
}
.currencypromotion{
	padding: 15px 0px;
}
.selectedpromotion label{
	float: left;
    margin-right: 10px;
    margin-top: 7px;
}
.promotion-success, .promotion-error {
    float: left;
    padding: 7px;
    vertical-align: middle;
}
.promotion-success {
    color: #2dae2d;
    display: none;
}

.page a, .next a, .previous a {
    position: relative;
    padding: 6px 12px !important;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #5fbeaa;
    border-color: #5fbeaa;
    background-color: #fff;
    border: 1px solid #ddd;
}

.button-column a {
    margin: 0 5px;
}

ul.yiiPager .selected a {
    background: #5fbeaa !important;
}

.page a:link, ul.yiiPager a:visited {
    border: solid 1px #5fbeaa !important;
    color: #5fbeaa ;
}

.page.selected a {
    color: white !Important;
}

.nav .lang-menu.hidden-xs {
    float: left;
}

.instant-buy-details{
	display: none;
}