/* ===== Tags input  ===== */

div.tagsinput { border: 1px solid #aaa; background: #FFF; padding: 0 5px; width: 90%; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #a5d24a; display: block; float: left; padding: 3px 8px 2px 8px; background: #cde69c; color: #638421; margin: 5px 5px 5px 5px; }
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; font-size: 11px; float: right; margin-top: -1px; } 
div.tagsinput input { width: 80px; border: none; padding: 5px; background: transparent; margin: 2px 5px 0 0; }
div.tagsinput div { display: block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid { background: #FBD8DB !important; color: #90111A !important;}


.legend{
    font-size: 14px; text-transform: uppercase;  font-weight: bold;
}
.red{
    color: red;
}
.blue{
    color: #2e6ab1;
}
div.form .fInputs{
    float: left;
    width: 30%;
    margin-right: 2%;
}
.property{
    float: left;
    clear: left;
    width: 100%;
}
.verarrays{
	border: 1px solid green;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 	color: gray;  }